* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	position: absolute;
	background-image: url("img/paper-bg.png");
	background-repeat: repeat;
}

#container {
	width: 100%;
	height: 100%;
}

.stretch {
	max-height: 100%;
	max-width: 100%;
}

.anchor {
	position: absolute;
	top: 0px;
	left: 0px;
}

.title {
	margin: 10px;
}