* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("img/paper-bg.png");
	background-repeat: repeat;
}

.stretch {
	max-height: 100%;
	max-width: 100%;
}

.title {
	position: absolute;
	margin: 20px;
	top: 0px;
	left: 0px;
}